:root {
  --color-yellow: #e28525;
  --color-turquoise: #016972;
  --color-turquoise-800: #00403f;

  --border-rounded: 0.5rem;
  --border-cicrlce: 1000rem;
}

.cars__btn {
  height: 4rem;
  width: 12rem;
  border-radius: var(--border-cicrlce);
  background-color: white;
  border: none;
  margin-top: 16rem;
  font-size: x-large;
  font-weight: 500;
  margin-left: 2rem;

  &:hover {
    cursor: pointer;
  }
}

.flex {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-self: center;
}

.cars {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 70%;
  margin-left: 15%;

  img {
    height: 3rem;
    width: 3rem;
    margin-top: 4rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    margin-right: 8rem;
  }

  p {
    color: white;
    font-weight: 900;
    font-size: 1.15rem;
  }

  &__div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: var(--border-rounded);
    margin-top: 7.5rem;
  }
}
