.react-date-picker__wrapper {
  position: relative;

  .react-date-picker__inputGroup {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;

    .react-date-picker__inputGroup__input {
      padding: 5px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      text-align: center;
    }

    .react-date-picker__inputGroup__divider {
      margin: 0 5px;
    }

    .react-date-picker__clear-button,
    .react-date-picker__calendar-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      outline: none;
    }

    .react-date-picker__clear-button__icon,
    .react-date-picker__calendar-button__icon {
      stroke: red;
    }

    .react-date-picker__clear-button:hover,
    .react-date-picker__calendar-button:hover {
      background-color: #f0f0f0;
    }
  }
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }
}

.formbtn {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
