.gallery {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  gap: 3rem;
  width: 100%;

  &__img {
    display: block;
    width: 35rem;
    height: 30rem;
    object-fit: cover;
    transition: all 250ms ease;
    box-shadow: 2rem 1rem 1rem rgba(135, 63, 202, 0.548);
    border-radius: 0.5rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.gallerysl {
  position: absolute;
  top: 10rem;
  left: 20rem;

  &__img {
    width: 70rem;
    height: 40rem;
    border-radius: 1rem;
    box-shadow: 8rem 8rem 8rem whitesmoke;
  }

  &__close {
    position: absolute;
    color: red;
    right: 1rem;
    font-weight: bolder;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__info {
    height: 6rem;
    width: 6rem;
    background-color: bisque;
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
    color: rgba(143, 27, 143, 0.544);
  }
}
