* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.btn {
  width: 6rem;
  height: 2.5rem;
  border-radius: 1rem;
}
.vjezbe {
  display: flex;
  justify-content: space-around;
  width: 40%;
  &__links {
    text-decoration: none;
    color: blue;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }
  }
}

.navbar__home {
  position: absolute;
  top: 1rem;
  z-index: 1;
}

.home__header {
  position: absolute;
  top: 2rem;
  left: 1rem;
  z-index: 1;
  color: white;
}

.home__p {
  position: absolute;
  top: 6rem;
  left: 1rem;
  z-index: 1;
  color: white;
}

//imports

@import "./components/notfound.scss";
@import "./components/grid.scss";
@import "./components/navbar.scss";
@import "./components/croatia.scss";
@import "./components/berry.scss";
@import "./components/profile.scss";
@import "./components/object.scss";
@import "./components/loader.scss";
@import "./components/gallery.scss";
@import "./components/main.scss";
