* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  flex-wrap: wrap;
}

//imports

@import "./components/notfound.scss";
@import "./components/grid.scss";
@import "./components/navbar.scss";
@import "./components/croatia.scss";
@import "./components/berry.scss";
@import "./components/profile.scss";
