.shows {
    height: 30rem;
    width: 50rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    &__div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &:hover {
            scale: 1.3;
            overflow: hidden;
            cursor: pointer;
            transition: ease 0.5s;

            img {
                border-radius: 1rem;
                transition: ease 1s;
            }

            h2 {
                color: white;
                text-decoration: underline;
                transition: ease-in-out 0.2s;
            }
        }
    }

    &__paragraph {
        font-size: 0.8rem;
    }

    &__img {
        height: 8rem;
        width: 100%;
        object-fit: cover;
    }
}
